


<div class="w3-row w3-container w3-card w3-margin">
    
    
<div class="w3-container w3-light-grey w3-margin w3-center">
  <h2> Account </h2> 
</div>


<div class="w3-row w3-container ">
  <p>You are not registrated.</p>
  <div class="w3-button w3-col s6 w3-blue w3-center " onclick="displayLogin()">    
    <p>Login</p>
  </div>
  <div class="w3-button w3-col s6 w3-blue-grey w3-center" onclick="displayRegister()">
    <p>Register</p>
  </div>
</div>

<br><br>
</div>

<script>

function displayRegister(){
    document.getElementById("dsis_creds_register").style.display = 'block';
    document.getElementById("dsis_creds_login").style.display = 'none';
}

function displayLogin(){
    document.getElementById("dsis_creds_register").style.display = 'none';
    document.getElementById("dsis_creds_login").style.display = 'block';
}
    
</script>
